@model Organizer.Models.ContactInfo

@{
    ViewData["Title"] = "Create";
}

<h2>Create Contact Info</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select id="sel" onchange=funk() class="form-control" asp-items="ViewBag.Type"></select><input id="ctype" asp-for="Type" class="form-control" value="Mail" style="visibility:hidden" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactID" class="control-label" hidden></label>
                <input asp-for="ContactID" class="form-control" hidden value=@ViewBag.CID />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Contact">Back to List</a>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        function funk()
        {
            var sel = document.getElementById("sel");
            var inp = document.getElementById("ctype");

            inp.value = sel.options[sel.selectedIndex].value ;

            if (sel.options[sel.selectedIndex].value == 'Other') {
                inp.value = '';
                inp.style.visibility = "visible";
            }
            else {
                inp.style.visibility = "hidden";
            }
        }
    </script>
}
